/SOM/outraSOM.py
/SOM/SOM_errada.py
/SOM/SOM2.py

/PCA/PCA2.py
/PCA/RBroder - Projeto 04 - PCA.zip
/PCA/Relatório 04 - PCA.pdf

/MLP/MLP/*
/MLP/RBroder - Projeto 01 - MLP.zip

/GNG/*

/Datasets/abalone.data.txt
/Datasets/abalone.py
/Datasets/pop_failures.csv
/Datasets/pop_failures.dat.txt
/Datasets/pop_failures.py
/Datasets/seeds.py
/Datasets/seeds_dataset.txt
/Datasets/winequality.py
/Datasets/winequalityred.csv
/Datasets/winequality-red.csv
/Datasets/winequalitywhite.csv
/Datasets/winequality-white.csv
/Datasets/zoo.data.txt